name: Build Autotrain Singularity Image

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/build-autotrain-singularity.yml
      - autotrain/**

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force

      - name: Install Apptainer
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt-get update
          sudo apt-get install -y apptainer

      - name: Download data splits
        run: |
          python scripts/download_data.py

      - name: Build SIF
        run: |
          sudo apptainer build autotrain.sif autotrain/autotrain.def
          sudo chown "$USER:$USER" autotrain.sif

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: autotrain-sif
          path: autotrain.sif
          if-no-files-found: error
